/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Grey scale */
  --grey-950: #08070b; /* rgb(8, 7, 11) */
  --grey-900: #14131b; /* rgb(20, 19, 27) */
  --grey-850: #18171f; /* rgb(24, 23, 31) */
  --grey-800: #24232c; /* rgb(36, 35, 44) */

  --grey-700: #54535b; /* rgb(84, 83, 91) */
  --grey-600: #817d92; /* rgb(128, 124, 146) */

  --grey-200: #e6e5ea; /* rgb(230, 229, 234) */
  --green-200: #a4ffaf; /* rgb(164, 255, 175) | hsl(127, 100%, 82%) */

  /* Yellow */
  --yellow-300: #f8cd65;

  /* Orange */
  --orange-400: #fb7c58; /* rgb(251, 124, 88) | hsl(13, 95%, 66%) */

  /* Red */
  --red-500: #f64a4a; /* rgb(246, 74, 74) | hsl(0, 91%, 63%) */
  --gradient-1: linear-gradient(90deg, #14131b 0%, #08070b 100%);

  --text-preset-1: 700 32px/42px "JetBrains Mono", monospace;
  --text-preset-2: 700 24px/32px "JetBrains Mono", monospace;
  --text-preset-3: 700 18px/24px "JetBrains Mono", monospace;
  --text-preset-4: 700 16px/20px "JetBrains Mono", monospace;

  font-size: 16px;
}

body {
  background: var(--gradient-1);
  min-height: 100vh;
  color: #e5e5e5;
}

/* CENTER */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* CARD */
.card {
  width: 540px;
  height: 528px;
  background: #1e1e28;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* TITLE */
.title {
  text-align: center;
  font: var(--text-preset-2);
  color: var(--grey-600);
  margin-bottom: 16px;
}

/* PASSWORD BOX */
.password-box {
  background: #242432;
  padding: 19px 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 540px;
}

.password {
  font: var(--text-preset-1);
  color: var(--grey-700);
  letter-spacing: 1px;
  overflow-wrap: break-word;
  flex: 1;
  min-width: 0;
}

.copy-btn {
  background: none;
  border: none;
  color: var(--green-200);
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.copy-btn img {
  width: 21px;
  height: 24px;
}
/* LENGTH */
.length {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.length-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--text-preset-3);
  color: var(--grey-200);
  margin-bottom: 10px;
}

.length-value {
  font: var(--text-preset-1);
  color: var(--green-200);
}

input[type="range"] {
  width: 100%;
  appearance: none;
  height: 4px;
  background: #11111a;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid var(--green-200);
  background-color: black;
  cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  border: 1px solid #ccc;
}

input[type="checkbox"]:checked {
  background: var(--green-200);
}

input[type="checkbox"]:checked::after {
  content: url("../assets/images/icon-check.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: black;
  font-size: 12px;
  font-weight: bold;
}
/* OPTIONS */
.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* font-size: 0.75rem; */
}

.options label {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  font: var(--text-preset-3);
  color: var(--grey-200);
}

/* STRENGTH */
.strength {
  background: #11111a;
  padding: 24px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font: var(--text-preset-3);
  color: var(--grey-600);
}

.bars {
  display: flex;
  gap: 6px;
  align-items: center;
}
.bars .state {
  padding: 2px;
  font: var(--text-preset-3);
  color: white;
}
.bars .bar {
  width: 12px;
  height: 31px;
  border: 1px solid #e5e5e5;
}

.bars.state0 .bar1 {
  background: var(--red-500);
  border: none;
}

.bars.state1 .bar1,
.bars.state1 .bar2 {
  background: var(--orange-400);
  border: none;
}

.bars.state2 .bar1,
.bars.state2 .bar2,
.bars.state2 .bar3 {
  background: var(--yellow-300);
  border: none;
}
.bars.state3 .bar1,
.bars.state3 .bar2,
.bars.state3 .bar3,
.bars.state3 .bar4 {
  background: var(--green-200);
  border: none;
}

/* BUTTON */
.generate-btn {
  background: var(--green-200);
  color: var(--grey-800);
  border: none;
  padding: 20px;
  font: var(--text-preset-3);
  cursor: pointer;
}

.generate-btn:hover {
  background: var(--green-800);
  color: var(--green-200);
  border: 1px solid var(--green-200);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .title {
    font: var(--text-preset-4);
  }
  .password {
    font: var(--text-preset-2);
  }
  .password-box {
    padding: 16px 18px;
    width: min(343px, 90%);
  }
  .copy-btn img {
    width: 18px;
    height: 20px;
  }
  .card {
    padding: 16px;
    width: min(343px, 90%);
    height: auto;
    gap: 32px;
  }
  .length {
    gap: 8px;
  }
  .length-header {
    font: var(--text-preset-4);
  }
  .length-value {
    font: var(--text-preset-2);
  }
  .options label {
    font: var(--text-preset-4);
    gap: 16px;
  }
  .strength {
    font: var(--text-preset-4);
    padding: 18px 16px;
  }
  .generate-btn {
    font: var(--text-preset-4);
    padding: 18px;
  }
}
